<style type="text/css">

html, body
{
	height: 100%;
}

h2 {
}
.header-underline {
	border-bottom:1px solid #000;
}

.line-separator{
	height:1px;
	background:#000;
	border-bottom:1px solid #313030;
}

.lab {
   border-bottom: 1px solid #ddd;
   margin-bottom: 5px;
}

.clear {
		height: 1px;
		clear: both;
	}
	
	#workstations .name,
	#workstations .graph,
	#workstations .count {
		float: left;
	}
	
	#workstations .name {
		font-size: 	100%;
		margin-right: 3%;
		width: 85px;
	}
	
	#workstations .count {
		font-size: 	100%;
		margin-left: 3%;
	}
	
	#workstations .graph {
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
		background: linear-gradient(to right, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C */	
	}
</style>

